[Desktop Entry]
X-AppImage-Arch=x86_64
X-AppImage-Version=1.0.1
X-AppImage-Name=Time Tracker
Name=Time Tracker
Exec=time-tracker-gnome
Icon=time-tracker-gnome
Type=Application
Terminal=false
Categories=Utility;
Comment=Time Tracker - Bildschirmzeit-Tracking-App
